body {
    min-width: 250px;
}

label {
    color: rgb(45, 100, 136);
}

input {
    color: rgb(45, 100, 136);
    margin-top: 5px;
}

span {
    color: rgb(16, 109, 170);
    font-size: 24px;
    padding: 3px;
    vertical-align: top;
}

#imgsrc {
    width: 30% ;
    object-fit: 'contain';
}