  body {
    min-width: 250px;
  }

  h2 {
    margin: 10px;
  }

  label {
    margin: 10px;
    color: rgb(45, 100, 136);
  }

  button {
    color: rgb(45, 100, 136);
  }
  span {
    color: rgb(16, 109, 170);
    font-size: 24px;
    padding: 3px;
    vertical-align: top;
  }
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 10px;
    padding: 0px;
  }
  
  /* Style the list items */
  ul li, .imageItem, .imageItemOdd {
    cursor: pointer;
    position: relative;
    padding: 6px 8px 6px 8px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .image-cropper {
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd), .imageItemOdd {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover, .imageItem:hover, .imageItemOdd:hover {
    background: #ddd;
  }
